node_modules
# Keep environment variables out of version control
.env

/generated/prisma

# Exclude documentation files
*.md

# Exclude Postman collections
*.postman_collection.json

# Exclude uploads directory
uploads/
